	body {
		font-family: 'book Antiqua';
        background-color: #040720;
		color: #090f50
}

	h1 {
		color: #b5ace6}

    #wrapper {
        border: 1px solid #000;
        background-color: #cef3ff;
        min-height: 100%;
    }

    .header {
        border: 1px solid #000;
        background-color: #cef3ff;
        height: 300px;
    }

    .main-navigation{
        background-color: #2091ee;
        height: 70px;
        text-align: center;
   }
    
    .main-navigation a{
        text-align: center;
        color: #060b3b;
        text-decoration: underline;
    }
	
    a:hover {
        font-weight: bold;
        text-decoration: none;
    }
