body
{
    background-color: #a0a3a1;
}
#wrapper
{
    border: 1px solid #000;
    background-color: aliceblue;
    min-height: 100%;
    margin: 5px;
}
.header
{
    border: 1px solid #000;
    background-color: #ecf5eb;
    height: 300px;
}
.main-navigation
{
    text-align: center;
    background-color: #d63d3d;
    height: 70px;
}
.main-navigation a
{
color: aliceblue;
text-decoration: underline;
}
.main-navigation a:hover
{
text-align: center;
}